<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestApp</title>
</head>
<body>
    <nav>

    </nav>
    <section>
        <div>
            <h1>Add a new user</h1>
            <a href="/dashboard/admin">Return to Dashboard</a>
        </div>
        <form action='/users/new/' method="post">
            {% csrf_token %} 
            <p>Email Addres</p>
            <input type="email" name="email">
            <p>First Name</p>
            <input type="text" name="nombre">
            <p>Last Name</p>
            <input type="text" name="apellido">
            <p>Password</p>
            <input type="password" name="password">
            <p>Password Confirmation</p>
            <input type="password" name="conf_password">
            <input type="submit" value="Create">
        </form>
    </section>
</body>
</html>